fastapi
pydantic
uvicorn
supabase
python-dotenv
python-jose
passlib[bcrypt]
bcrypt==4.0.1
email-validator
requests
resend
pypdf
python-docx
python-multipart
APScheduler
langchain
langchain-google-genai
